* {
    text-align: center;
}

div {
    margin: 40px;
}

#title  {
    font-size: 30px;
    color:brown
}


@media (min-width: 700px) {
}

@media (max-width: 700px) {
    #title {
        font-size: 25px;
    }
}