* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

.credit {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
}

.quote {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

/* The numbers are formatted here */
.buttons {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: #fdf0d5;
    border-color: black;
    border-width: 0px;
    color: black;
    font-size: 30px;
    transition: background-color .3s ease;   
}


/* Hover animation */
.buttons:hover {
    background-color: #669bbc;
}

/* Click animation */
.buttons:active {
    background-color: #003049;
    /* color: white; */
    transition: none;
}

#zero {
    border-left: 1px solid black;
    grid-area: zero;
    width: 210px;
}

#one {
    border-left: 1px solid black;
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    border-left: 1px solid black;
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    border-left: 1px solid black;
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#clear {
    border-left: 1px solid black;
    grid-area: clear;
    width: 140px;
}

#delete {
    grid-area: delete;
    width: 70px;
}

#divide {
    grid-area: divide;
    width: 70px;
    background-color: #c1121f;
}

#multiply {
    grid-area: multiply;
    width: 70px;
    background-color: #c1121f;
}

#add {
    grid-area: add;
    width: 70px;
    background-color: #c1121f;
}

#subtract {
    grid-area: subtract;
    width: 70px;
    background-color: #c1121f;
}

#equals {
    grid-area: equals;
    width: 70px;
    background-color: #c1121f;
}

#divide:hover {
    background-color: #669bbc;
}

#multiply:hover  {
    background-color: #669bbc;
}

#add:hover  {
    background-color: #669bbc;
}

#subtract:hover  {
    background-color: #669bbc;
}

#equals:hover  {
    background-color: #669bbc;
}

#divide:active {
    background-color: #003049;
}

#multiply:active  {
    background-color: #003049;
}

#add:active  {
    background-color: #003049;
}

#subtract:active  {
    background-color: #003049;
}

#equals:active  {
    background-color: #003049;
}

.buttons:active {
    background-color: #003049;
    /* color: white; */
    transition: none;
}


/* The screen */
.screen {
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: black;
    align-content: center;
    text-align: right;
    color: white;
    font-size: 40px;
    grid-area: screen;
    margin: 0;
    padding-right: 20px;
    width: 258px;
    height: 70px;
}


/* The calculator grid */
.grid-div {
    display: grid;
    justify-content: center;
    padding: 0;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    row-gap: 0;
    column-gap: 0;
    grid-template-areas:
        "screen screen screen screen"
        "clear clear delete divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero zero zero equals";
}

/* Add border to the right and bottom of all elements */
.grid-div > * {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}