
.center-div {
    margin: 60px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}


/* Styling of the link that makes the redText appear */
#hoverText {
    text-decoration: none;
    cursor: pointer;
    color:cadetblue;
}

#hoverText:hover {
    text-decoration: underline;
    transition: transform 0.5s ease;
}

/* #hoverText:after{
    content: "";
    display:block;
    position: relative ;
    width: 100%;
    height: 1px;
    bottom: 0px;
    background: cadetblue;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
}
  
#hoverText:hover::after{
    transform: scaleX(1);
} */

#hoverText:visited {
    color: cadetblue;
}

/* Styling of the appearing text  */
#redText {
    color:brown;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
    transform: translateY(-10px);
}

#hoverText:hover #redText {
    opacity: 1;
    transform: translateY(0);
}


/* Styling of the front page image */
#frontpageimage {
    width: 75%;
    height: auto;
}