
svg {
    width: 100%;
    overflow: visible;
}

g {
    overflow: visible;
    visibility: hidden;
}

/* Hide all posts, let javascript reveal them in animation */
#Posts > g > g > circle {
    visibility: hidden;
    transition: fill 0.3s ease;
} 


/* Using !important to override svg inline properties - necessary as svg otherwise overrides css stylings if defined */
#Posts > g > g > circle:hover {
    fill: #f07167 !important;
}
#Posts > g > g > path,
#Posts > g > g > text {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* style="fill:rgb(63,177,255); */
/* #Posts g  circle:hover {
    fill: #0081a7;
} */

.reveal {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}