@font-face {
    font-family: 'Futura';
    src: local('Futura'),
         url('./futura/Futura\ Std\ Book.ttf') format("truetype");
  }  

/* Hide scrollbars */
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.tree_pot {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: flex-end;
}

svg {
    width: 100%;
    overflow: hidden;
}

g {
    overflow: visible;
    visibility: hidden;
}

/* Hide all posts, let javascript reveal them in animation */
#Posts > g > g > circle {
    visibility: hidden;
    transition: fill 0.3s ease;
} 


/* Using !important to override svg inline properties - necessary as svg otherwise overrides css stylings if defined */
#Posts > g > g > circle:hover {
    fill: #f07167 !important;
}
#Posts > g > g > path,
#Posts > g > g > text {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#Posts > g #thumbnail {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* style="fill:rgb(63,177,255); */
/* #Posts g  circle:hover {
    fill: #0081a7;
} */

.reveal {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Scrolling */

.scroll-container {
    display: flex;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
    /* transform: translateY(-145px); */
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: rgb(0, 0, 0);
}

#section1 {
    background-color: #ffffff;
}

#section2 {
    background-color: #ffffff;
}

#section3 {
    background-color: #ffffff;
}

/* Mobile */
@media (max-width: 750px) {
    
    .scroll-container {
        width: 300vw; /* 3 times the width of the viewport */
    }
    .section {
        flex: 1 0 100vw; /* Each section takes up the full width of the viewport */
    }
}

/* Computer */
@media (min-width: 750px) {
    
    .section {
        flex: 1 0 33vw; /* Each section takes up a third of the viewport */
    }
    .scroll-container {
        width: 100vw; /* 100% viewport */
    }


}